<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Portfolio.</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/projects">Projects</a>
                    <a class="nav-link active" href="/Contact">Contact</a>
                </nav>
            </div>
        </header>
        
        <main class="text-left">
            <h1 class="display-1 font-weight-bold">Contact</h1>
            <div class="justify-content-center">
                <a target=”_blank” href="https://drive.google.com/file/d/1PIrL2HTP-KPF9iIWAzsE8CDoz32qQ_OA/view?usp=sharing" 
                class="btn btn-outline-dark mb-3">My Resume</a>
            </div>
            <p class="lead font-weight-bold">katgalkowska@gmail.com</p>
            <a target=”_blank” href="https://www.linkedin.com/in/katgalkowska/" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white mb-3">LinkedIn</a>
            <a target=”_blank” href="https://github.com/katkowska" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white mb-3">GitHub</a>
        </main>

        <footer class="mt-auto text-white-40">
            <small><p>Portfolio by Kat Galkowska</p>
                <p>&copy; 2024 </p></small>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>