<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio.</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-white">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Portfolio.</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/projects">Projects</a>
                    <a class="nav-link" href="/Contact">Contact</a>
                </nav>
            </div>
        </header>

        <main class="text-left">
            <h1 class="display-1 font-weight-bold" id="title">web dev.</h1>
            <h5 class="display-6 font-weight-bold text">Kat Galkowska</h5>
            <p class="lead font-weight-bold mb-3"> Visual creative & code enthusiast: 
                <br>seeking an opportunity in Web Development 
                <br>within a company looking to hire a creative, 
                <br>meticulous, and design-sensitive profile
                <br>to meet its digital transformation needs.</p>
            <a href="/projects" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white mt-2 mb-3">View
                Projects</a>
                <a href="/contact" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white mt-2 mb-3">Contact me</a>
    </main>

        <footer class="mt-auto text-white-40">
            <small><p>Portfolio by Kat Galkowska</p>
                <p>&copy; 2024 </p></small>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>