<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/projects.css">
</head>

<body class="text-white bg-dark">
    <div class="cover-container text-center d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">Portfolio.</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                    <a class="nav-link active" href="/projects">Projects</a>
                    <a class="nav-link" href="/Contact">Contact</a>
                </nav>
            </div>
        </header>
        <main class="text-left">
            <h1 class="display-6 mb-3 font-weight-bold px-3">Projects</h1>

        <div class="container float-md-left col-6">
            <h3 class="lead">Main project</h3>
            <a target=”_blank” href="https://gigaunty.onrender.com" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white mb-3">GigAunty</a>
            
            <div class="mx-auto">
                <h3 class="lead">Other apps</h3>        
                <a href="/projects/tarot" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white mb-3">Tarot</a>
                <a href="/projects/weather" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white mb-3">Weather App</a>
                <a href="/projects/colors" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white mb-3">Random Color Generator</a>
            </div>
        </div>
    </main>

        <footer class="mt-auto text-white-40">
            <small><p>Portfolio by Kat Galkowska</p>
                <p>&copy; 2024 </p></small>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>